html, body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(54, 54, 54);
    color: rgb(221, 221, 221);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, th, tr, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th{
    font-size: 18px;
}

.tabela{
    width: 35%;
    margin: auto;
    margin-top: 25px;
    border: 0;
}

.tag{
    font-style: italic;
}

thead{
    
    background-color: rgb(18, 18, 18);
}

tr:nth-child(2n){
    background-color: rgb(76, 75, 75);
}

tbody tr:hover{
    background-color: rgb(18, 18, 18);
    
}